<div class="panel panel-primary smallapp-form">
	<div class="panel-heading"><h4 align="center"> SmallApp - Login</h4></div>
	<div class="panel-body">
		<form name="myform" class="form padding-login-form">
			<alert messages="messages" type="danger"> </alert>
	 		<div class="input-group info-login-group-margin">
	   		<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	    		<input name="email" type="text" class="form-control" id="email" placeholder="Email" data-ng-model="user.mail" required>
	  		</div>
	  		
	 		<div class="input-group info-login-group-margin">
	  			<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
	   		<input name="psw" type="password" class="form-control" id="pwd" placeholder="Password" data-ng-model="user.password" required>
	  		</div>
	 
	 		<div class="text-right info-login-group-margin">
	  			<button ng-disabled="myform.email.$error.required || myform.psw.$error.required" 
	  					  data-ng-click="login()" class="info-login-button-widht btn-primary btn">Login</button>
	 	 	 
			</div>
		</form>
	</div>
</div>